@import "./base/_base";
@import "./components/_components";

.main-content {
    background-color: greenyellow;
}

.section {
    max-width: 128rem;
    margin: 0 auto;
    height: 100vh;
}

.random-card-container {
    width: 30%;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}

.spinnerElement{
    display: none;
    justify-self: center;
    align-self: center;
}
.custom-icon{
    font-size: 2.4rem;
    cursor: pointer;
    align-self: flex-end;
}