$flipcard-width: 100%;
$flipcard-height: 200px;
$flipcard-frontBgClr: #bbb;
$flipcard-backBgClr: dodgerblue;

$displaycard-BgClr: green;

.flip-card {
    background-color: transparent;
    width: $flipcard-width;
    height: $flipcard-height;
    /* Remove this if you don't want the 3D effect */
    perspective: 1000px;

    /* This container is needed to position the front and back side */
    &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Position the front and back side */
    &-front,
    &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    &-front {
        background-color: $flipcard-frontBgClr;
    }

    /* Style the back side */
    &-back {
        background-color: $flipcard-backBgClr;
        transform: rotateY(180deg);
    }
}

// Hover-Active 
.flip-card:hover.hover-show{
    .flip-card-inner {
        transform: rotateY(180deg);
    }
}

// Click-Active
.flip-card:active.click-show{
    .flip-card-inner {
        transform: rotateY(180deg);
    }
}

// Display-Card
.card-wrapper {
    // padding: 2rem;
    .click-area {
        background-color: $displaycard-BgClr;
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}