*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    color: white;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.placecard {
    background-color: green;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    .image-wrapper{
        float: right;
        width: 220px;
        height: auto;
        margin: 0px 20px;
        img{
            width: 100%;
            height: auto;
        }
    }
    
}


.clearfix {

    &::after {
        content: '';
        clear: both;
        display: table;
    }
}