*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.primary-text {
  color: white;
  font-size: 2.8rem; }

.u-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /* Remove this if you don't want the 3D effect */
  perspective: 1000px;
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */ }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d; }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden; }
  .flip-card-front {
    background-color: #bbb; }
  .flip-card-back {
    background-color: dodgerblue;
    transform: rotateY(180deg); }
