*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
}

.main-box{
    background-color: gray;
    width: 20rem;
    height: 20rem;
}


// Basic Understanding of max and min values
@media (max-width: 599px){
    .main-box{
        background-color: red;
    }
}

@media (min-width: 600px){
    .main-box{
        background-color: green;
    }
}


// combination
.text-box{
    color: blue;
    font-size: 1.6rem;
}

@media (min-width: 600px) and (max-width: 800px){
    .text-box{
        color: red;
    }
}

