.primary-heading-text{
    color: white;
    font-size: 2.8rem;
}

.secondary-heading-text{
    color: white;
    font-size: 2.4rem;
}

.primary-span-text{
    color: white;
    font-size: 1.8rem;
}

.secondary-span-text{
    color: white;
    font-size: 1.2rem;
}